.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.searchBar {
    border-radius: 25px 25px 25px 25px;
}

.buttonRow {
    margin: 20px;
}

.link {
    color: blue;
    text-decoration-line: underline;
    cursor: pointer;
}

.MonsterMap {
    margin-left: 40px !important;
}

.leftCol {
    width: 40%;
    float: left;
    text-align: left;
    margin-top: 50px;
}

.abilities {
    text-align: left;
    margin-top: 420px;
    margin-left: 40px;
}

.monsterDetails {
    margin-left: 20px;
}

.alignCenter {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}

.rightCol {
    width: 60%;
    display: flex;
    flex-direction: column;
    float: left;
}

.closeDetailButton {
    float: right;
    margin-right: 20px;
    background-color: grey;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    margin-top: 40px;
    height: 120px;
    text-align: center;
    animation: spin 2s linear infinite;
}

.loaderBox {
    display: flex;
    justify-content: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.buttonLeft {
    border-radius: 25px 0px 0px 25px;
    width: 80px;
    padding: 10px;
}

.buttonRight {
    border-radius: 0px 25px 25px 0px;
    width: 80px;
    padding: 10px;
}

.buttonLeftSearch {
    border-radius: 5px 0px 0px 5px;
    width: 100px;
    padding: 10px;
}

.buttonRightSearch {
    border-radius: 0px 5px 5px 0px;
    border: none;
    width: 50px;
    padding: 12px;
    background-color: lightgray;
}

.noResults {
    margin-top: 10px;
    color: red;
}

.foundResults {
    margin-top: 10px;
    color: green;
}

/*//todo sticky header?*/
.header {
    background-image: url("https://res.cloudinary.com/osidekweenyasss/image/upload/v1566691836/poke2.jpg");
    background-repeat: no-repeat;
    font-family: 'Fredoka One';
    background-position: right;
    height: 200px;
}

.photoBox {
    text-align: center;
}

.PokeRowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.titleText {
    margin-right: 10px;
    color: orange;
}

.pokeImg {
    height: 150px;
    width: 150px;
    text-align: center;
    border: 2px solid darkgray;
    border-radius: 5px;
}

.PokeCard {
    height: 150px;
    width: 150px;
    margin: 20px;
    text-align: center;
}

.App-link {
    color: #61dafb;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Fredoka One'), local('FredokaOne-Regular'), url(https://fonts.gstatic.com/s/fredokaone/v7/k3kUo8kEI-tA1RRcTZGmTlHGCaen8wf-.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}