.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.searchBar {
    border-radius: 25px 25px 25px 25px;
}

.buttonRow {
    margin: 20px;
}

.link {
    color: blue;
    text-decoration-line: underline;
    cursor: pointer;
}

.map{
    display: flex;
    margin-bottom: 50px;
    margin-left: 40px;
    text-align: center;
    height: auto;
    width: auto;
}

.MonsterMap {
    display: flex
}
.leftCol {
    width: 40%;
    float: left;
    text-align: left;
    margin-top: 50px;
}

.abilities {
    margin-top: 350px;
    text-align: left;
    margin-left: 40px;
}

.monsterDetails {
    margin-left: 20px;
}

.alignCenter {
    text-align: center;
}

.rightCol {
    width: 60%;
    display: flex;
    flex-direction: column;
    float: left;
}

.closeDetailButton {
    float: right;
    margin-right: 20px;
    background-color: grey;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  margin-top: 40px;
  height: 120px;
  text-align: center;
  animation: spin 2s linear infinite;
}

.loaderBox {
    display: flex;
    justify-content: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.buttonLeft {
    border-radius: 25px 0px 0px 25px;
    width: 80px;
    padding: 10px;
}

.buttonRight {
    border-radius: 0px 25px 25px 0px;
    width: 80px;
    padding: 10px;
}

.buttonLeftSearch {
    border-radius: 5px 0px 0px 5px;
    width: 100px;
    padding: 10px;
}

.buttonRightSearch {
    border-radius: 0px 5px 5px 0px;
    border: none;
    width: 50px;
    padding: 12px;
    background-color: lightgray;
}

/*//todo sticky header?*/
.header {
    background-image: url("https://res.cloudinary.com/osidekweenyasss/image/upload/v1566691836/poke2.jpg");
    background-repeat: no-repeat;

    background-position: right;
    height: 200px;
}

.photoBox {
    text-align: center;
}

.PokeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.pokeImg {
    height: 150px;
    width: 150px;
    text-align: center;
    border: 2px solid darkgray;
    border-radius: 5px;
}

.PokeCard {
    height: 150px;
    width: 150px;
    margin: 20px;
}

.App-link {
    color: #61dafb;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
